apiVersion: v1
kind: Secret
metadata:
  name: "{{ CLIENT_ID }}-sync-secret"
  namespace: "{{ namespace }}"
  labels:
    name: "{{ CLIENT_ID }}-sync-secret"
    secretType: mobile-client-binding-secret
    mobile: enabled
    serviceInstanceID: "{{ _apb_service_instance_id }}"
    clientId: "{{ CLIENT_ID }}"