apiVersion: v1
kind: Secret
metadata:
  name: "sync-app-{{ CLIENT_ID | lower }}"
  namespace: '{{ namespace }}'
  labels:
    mobile: enabled
    serviceName: "sync-app-{{ CLIENT_ID }}"
    clientId: "{{ CLIENT_ID }}"
    serviceName: "sync-app-{{ CLIENT_ID }}"
    name: "sync-app-{{ CLIENT_ID | lower }}"
    serviceInstanceID: '{{ _apb_service_instance_id }}'
stringData:
  uri: "{{ URI }}"
  config: "{'uri':\"{{ URI }}/graphql\"}"
  name: "sync-app-{{ CLIENT_ID }}"
  type: "sync-app"    

    